---
---

* {
    padding: 0;
    margin: 0;
}

a, a:hover {
    font-weight: normal;
    color: #452be9;
    text-decoration: none;
}

.content, .archive {
    padding: 0px 40px;
    margin: 0px auto;
}


body {
    font: 1.15em/1.6em Georgia, Verdana, "Times New Roman", serif;
    color: #697077;
    padding: 0;
    margin: 0;
}

code, pre {
    font: 1.0em/1.6em "SF Pro Mono", Menlo, CourierNew, monospace;
    color: #211c3d;
}

h1 {
    font: bold 1.2em/2em "Inter Tight", sans-serif;
    padding: 30px 20px 0px 20px;
    color: #211c3d;
}

h1 a, h1 a:hover {
    font-weight: bold;
    color: #211c3d;
}

p.issue_meta {
    font: 0.7em/1em "Inter Tight", sans-serif;
    padding: 0 20px 20px 20px;
}

p.tags {
    font: 0.9em/1.45em Georgia, Verdana, "Times New Roman", serif;
    padding: 0 20px;
    color: #666;
}

h1 img {
    vertical-align: middle;
    margin-top: -4px;
}

h2 {
    font: 0.8em/1em "Inter Tight", sans-serif;
    text-transform: uppercase;
    margin: 40px 0 0 0;
    color: #888;
    padding: 0px 20px;
}

p.pubdate {
    font: 0.8em/1em "Inter Tight", sans-serif;
    color: #888; 
}

h3 {
    font: bold 1.2em/1.6em "Inter Tight", sans-serif;
    color: #211c3d;
    margin: 40px 0 10px 0px;
}

.content h3, .archive h3 {
    border-left: 4px solid #452be9;
    padding: 0 20px 0 16px;
}

.content blockquote {
    font-style: italic; 
}

h3 a, h3 a:hover {
    font-weight: bold;
    color: #211c3d;
    text-decoration: none;
}

p {
    margin: 10px 0;
    padding: 0px 20px;
}

.footer {
    margin-top: 40px;
}

.divider {
    display: block; 
    height: 1px; 
    border: 0; 
    border-top: 1px solid #ccc; 
    margin: 1em 0; 
    padding: 0; 
}

.footer ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 20px;
    font-size: 0.9em;
    margin: 20px 0;
}

.footer ul li {
    list-style-type: none;
    font: 0.8em/1em "Inter Tight", sans-serif;
    padding: 0 20px 0 0;
    display: flex;
    align-items: center;
    flex-grow: 0;
}

.footer ul li.social-links {
    flex-grow: 1;
    justify-content: flex-end;
    gap: 20px;
}

.footer ul li:last-child {
    padding: 0;
}

.footer a {
    text-transform: uppercase;
    font-weight: normal;
}

.footer .social-links a {
    display: inline-flex;
    align-items: center;
    line-height: 1;
}

.footer .social-links svg {
    width: 20px;
    height: 20px;
}

.footer .social-links a:last-child svg {
    transform: scale(1.1);
}

@media only screen and (max-width: 768px) {
    .header-main h1 {
        font-size: 36px;
        line-height: 40px;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
    }

    .header-meta-stack {
        width: 100%;
        align-items: flex-start;
    }

    .header-illustration {
        height: 150%;
        right: 0;
        top: 0;
        bottom: auto;
    }
}

@media only screen and (max-width: 640px) {
    .header {
        padding: 20px 40px 20px 40px;
        margin: 0 -20px;
    }

    .content, .archive {
        padding: 0px 20px;
    }

    h1 img {
        display: block;
        margin: 0;
     }

    .footer ul {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .footer ul li {
        white-space: nowrap;
        justify-content: center;
        padding: 0;
    }

    .footer ul li.social-links {
        justify-content: center;
        white-space: normal;
    }

    .footer ul li.copyright {
        order: 999;
        width: 100%;
        justify-content: center;
        margin-top: 10px;
    }
}

@media only screen and (min-width: 1024px) {
    .content, .archive {
        width: 980px;
        padding: 0px;
    }
}

@media (prefers-color-scheme: dark) {
    a, a:hover {
        color: #8f80f2;
    }

    body {
        background-color: rgba(0.706, 0.706, 0.706, 1);
        border-top: 4px solid #452be9;
        color: #dadada;
    }

    .divider {
        border-top: 1px solid #222;   
    }

    h1, h1 a, h1 a:hover { 
        color: #eee;
    }

    h2, p.pubdate { 
        color: #888;
    }

    h3, h3 a, h3 a:hover {
        color: #eee;
    }

    p {
        color: #cacaca;
    }

    p.tags { 
        color: #ccc;
    }

    code, pre {
        color: #f1f1f1;
    }
}